@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

html,
body {
  padding: 0;
  /* margin: 100px; */
  color: blue;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
}

.logo-stack {
  font-weight: 700;
}

.main-content {
  margin-top: 4rem;
}

.list-item-name {
  font-size: 1.1rem;
  font-weight: 600;
}

.list-row-item {
  margin-right: 2rem;
}

h1 {
  font-size: 56px !important;
  line-height: 4.5rem !important;
}

h2 {
  font-size: 32px !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 600 !important;
}